@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

body {
  font-family: "Open+Sans", sans-serif;
  background-color: #fffff4;
}

.artindex {
  align-items: center;
  background-image: linear-gradient(to top, #fffff4, rgba(224, 224, 224, 0.9333333333));
  margin: 0 0 1rem 0;
}
.artindex .articleindex {
  font-family: "Overpass", sans-serif;
  text-align: justify;
  max-width: 100%;
  height: auto;
  max-height: 600px;
}
.artindex #imgarticle {
  display: block;
  justify-items: center;
  max-width: 100%;
  height: auto;
  max-height: 600px;
}

#imagenindex {
  max-width: 100%;
  height: auto;
  max-height: 750px;
  box-sizing: border-box;
}
#imagenindex .carrouselimg {
  max-width: 100%;
  height: auto;
  max-height: 750px;
  box-sizing: border-box;
}

.image {
  margin: 1.5rem 1rem 1.5rem 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  max-width: 100%;
  text-align: center;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 0.8rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

.subtittle_pages {
  margin-top: 0.8rem 0.2rem 0.8rem 0.2rem;
  padding: 0.3rem 0 0.3rem 0;
  text-align: center;
}

h2 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 0.8rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

#tittle_pages {
  margin: 0.5rem 0 0.5rem 0;
  padding-top: 1rem;
}

p {
  line-height: 1rem;
  font-size: 0.7rem;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.text {
  background-color: #d0d0c6;
  padding-top: 5px;
  border-color: black;
}

.fa-brands {
  color: white;
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  font-size: x-small;
}
@media only screen and (min-width: 380px) {
  .fa-brands {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .fa-brands {
    font-size: 1.8rem;
  }
}

.fa-solid {
  color: white;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: x-small;
}
@media only screen and (min-width: 380px) {
  .fa-solid {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 380px) and (min-width: 768px) {
  .fa-solid {
    font-size: 1.8rem;
  }
}

.tarjeta2 {
  margin: 2rem;
}
.tarjeta2 .imgtarjeta {
  max-width: 100%;
  height: auto;
  max-height: 700px;
}

nav {
  width: 100%;
  height: auto;
  background-color: #fffff4;
}
nav .nav_logo {
  margin: 1rem;
  padding: 2px;
  height: auto;
  max-width: 100%;
  min-width: 100px;
  min-height: 30px;
}
@media only screen and (min-width: 768px) {
  nav .nav_logo {
    padding: 1.5rem;
    margin: 0 3rem 0 3rem;
  }
}
@media only screen and (min-width: 768px) {
  nav .navbar-toggler {
    padding: 0.5rem;
    margin: 0 3rem 0 3rem;
  }
}
nav .nav-link {
  border-width: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: inherit;
}
nav .nav-link:hover {
  opacity: 0.8;
}
nav .nav-item {
  font-size: 1rem;
  color: #161615;
  font-family: "DM Serif Display", serif;
}
@media only screen and (min-width: 768px) {
  nav .nav-item {
    font-size: 1.5rem;
  }
}
nav ul li {
  font-family: "Overpass", sans-serif;
  justify-content: center;
  list-style: none;
}

.page_contact .block_data {
  font-size: 2rem;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .page_contact .block_data {
    font-size: 3rem;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
  }
}
.page_contact .block_data .data_list {
  display: block;
  text-align: center;
}
.page_contact .block_data .data_1 {
  display: inline-flex;
  text-align: center;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 1.8rem;
  border-width: 0.3rem;
}
.page_contact .block_data .data_2 {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 1.8rem;
  border-width: 0.3rem;
  display: inline-flex;
}
.page_contact .block_data .data__info {
  padding: 0.5rem;
}
.page_contact form {
  text-align: center;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .page_contact form {
    margin: 1.5rem 3rem 1.5rem 3rem;
  }
}
@media only screen and (min-width: 800px) {
  .page_contact form {
    margin: 2rem 4rem 2rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .page_contact form {
    margin: 3rem 8rem 3rem 8rem;
    padding: 1rem 2rem 1rem 2rem;
  }
}
.page_contact form fieldset {
  align-self: center;
  background-color: rgb(92, 88, 88);
}
@media only screen and (min-width: 768px) {
  .page_contact form fieldset {
    background-color: rgb(92, 88, 88);
    border-style: solid;
    border-color: rgb(92, 88, 88);
    border-radius: 1.8rem;
    border-width: 0.3rem;
  }
}
.page_contact form fieldset .text_name {
  justify-content: center;
  font-size: 1rem;
  margin: 1rem 1.2rem 0 1.2rem;
  padding-top: 1rem;
  text-align: center;
}
@media only screen and (min-width: 350px) {
  .page_contact form fieldset .text_name {
    font-size: 1.2rem;
    margin: 1rem 1.5rem 0.5rem 1.5rem;
  }
}
@media only screen and (min-width: 380px) {
  .page_contact form fieldset .text_name {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 500px) {
  .page_contact form fieldset .text_name {
    display: flex;
    padding-left: 1rem;
    padding-right: 4rem;
  }
}
.page_contact form fieldset textarea {
  background-color: #e7e4e0;
  border-style: solid;
  border-color: #e7e4e0;
  border-radius: 1.8rem;
  border-width: 0.3rem;
}
.page_contact form fieldset label {
  font-size: 1rem;
  color: rgb(255, 250, 250);
}
@media only screen and (min-width: 500px) {
  .page_contact form fieldset label {
    font-size: 1.6rem;
    margin: 0.5rem 1rem 0rem 1rem;
  }
}
.page_contact form fieldset input {
  background-color: #e7e4e0;
  border-style: solid;
  border-color: #e7e4e0;
  border-radius: 1.8rem;
  border-width: 0.3rem;
}
.page_contact form fieldset input:hover {
  opacity: 0.8;
}

footer {
  background-color: black;
}
footer h4 {
  color: white;
  font-size: x-small;
}
@media only screen and (min-width: 350px) {
  footer h4 {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  footer h4 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 992px) {
  footer h4 {
    font-size: 2rem;
  }
}
footer .foot__1 {
  text-align: center;
  padding-top: 0.5rem;
}
footer .foot__2 {
  text-align: center;
  padding-top: 0.5rem;
}
footer .foot__3 {
  text-align: center;
  padding-top: 0.5rem;
}

.button {
  text-align: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.button_pages {
  font-size: 1rem;
  color: #161615;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 1.8rem;
  border-width: 0.3rem;
}

.grid1 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.grid1 .gridindex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.grid1 .gridimg {
  width: 100%;
  height: auto;
  max-height: 550px;
  overflow: hidden;
}
.grid1 .gridimg:hover {
  background-color: rgb(128, 125, 125);
  opacity: 0.6;
}

.text_product {
  text-align: center;
}
.text_product h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: #34312e;
}
@media only screen and (min-width: 768px) {
  .text_product h3 {
    font-size: 1.8rem;
  }
}
.text_product .price {
  font-size: 0.9rem;
}
@media only screen and (min-width: 768px) {
  .text_product .price {
    font-size: 1.4rem;
  }
}
.text_product .dto {
  font-style: oblique;
  font-size: 1rem;
  color: #f48940;
}
@media only screen and (min-width: 768px) {
  .text_product .dto {
    font-size: 1.4rem;
  }
}

.imgproducst {
  transition: 0.5s;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  max-height: 600px;
}
.imgproducst:hover {
  transform: scale(1.2);
}

.products__image {
  margin: 1.5rem 1rem 1.5rem 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  max-width: 100%;
}

.products__line {
  display: block;
  text-align: center;
}

.paragraph_container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  text-align: justify;
}
.paragraph_container #paragraph {
  font-size: 1rem;
  padding: 1rem;
  text-align: justify;
}
.paragraph_container .imgDiseños1 {
  margin: 1rem;
  padding: 1rem;
}
@media only screen and (min-width: 992px) {
  .paragraph_container .imgDiseños1 {
    margin: 2.5rem;
    padding: 2.5;
  }
}
.paragraph_container .imagesize {
  margin: 2.5rem;
  padding: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
