* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

body {
  font-family: "Open+Sans", sans-serif;
  background-color: #fffff4;
}

header {
  position: sticky;
  padding-top: 0.5rem 0;
}

nav {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.navlink {
  background-color: #f3efe2;
}

.nav__menu ul li {
  font-family: "Cormorant Garamond", serif;
  justify-content: center;
  list-style: none;
}

.nav__menu {
  margin-top: 3rem;
}

.nav_name {
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.nav__link {
  color: rgb(199, 191, 191);
  border-width: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: inherit;
}

.nav__link:hover {
  opacity: 0.8;
}

.artindex {
  align-items: center;
  background-image: linear-gradient(to top, #dfe3e3, #a1bfbf);
  margin: 0 0 1rem 0;
}

.articleindex {
  font-family: "Cormorant Garamond", serif;
  text-align: justify;
}

.imgarticle {
  display: block;
  justify-items: center;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.imgproducst {
  transition: 0.5s;
  object-fit: cover;
}

.imgproducst:hover {
  transform: scale(1.2);
}

.imagenindex {
  max-width: 100%;
  height: auto;
}

#imagesize {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

@media (min-width: 992px) {
  #imagesize {
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
  }
}

.image {
  margin: 2rem 10rem 2rem 10rem;
  padding: 3rem 10rem 3rem 10rem;
  max-width: 100%;
}
.products__image {
  margin: 1.5rem 1rem 1.5rem 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  max-width: 100%;
}

.products__line1 {
  display: block;
}

.products__line {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

.subtittle_pages {
  margin-top: 0.8rem 0.2rem 0.8rem 0.2rem;
  padding: 0.3rem 0 0.3rem 0;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: "Faustina", serif;
  font-size: 1.2rem;
  color: #34312e;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.8rem;
  }
}

#tittle_pages {
  margin: 0.5rem 0 0.5rem 0;
  padding-top: 1rem;
}

h4 {
  color: white;
  text-align: center;
  padding-bottom: 0.2rem;
  font-size: 0.6rem;
}
@media (min-width: 400px) {
  h4 {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.8rem;
  }
}

#paragraph {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
}

.paragraph_container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  text-align: justify;
}

p {
  line-height: 1rem;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.text {
  background-color: rgb(242, 241, 239);
  padding-top: 5px;
  border-color: black;
}

.text_product {
  text-align: center;
}

.text_name {
  justify-content: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.price {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .price {
    font-size: 1.4rem;
  }
}

.dto {
  font-style: oblique;
  font-size: 1rem;
  color: rgba(251, 149, 6, 0.796);
}
@media (min-width: 768px) {
  .dto {
    font-size: 1.4rem;
  }
}

.block_data {
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 5rem 2rem 5rem;
}
.block_data ul li {
  list-style: none;
}

.button {
  text-align: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.button_pages {
  font-size: 1rem;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 1.8rem;
  border-width: 0.3rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

input:hover {
  opacity: 0.8;
}

.data_list {
  display: block;
  text-align: center;
}

.data_1 {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 1.8rem;
  border-width: 0.3rem;
  display: inline-flex;
  text-align: center;
}

.data_2 {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 1.8rem;
  border-width: 0.3rem;
  display: inline-flex;
}

.data__info {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

form {
  text-align: center;
}

fieldset {
  align-self: center;
  margin: 1rem 20rem 1rem 20rem;
  padding: 1rem 8rem 1rem 8rem;
  color: black;
  background-color: #f1f7f7;
}

footer {
  background-color: black;
}

.container_foot {
}

.fa-brands {
  color: white;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
  font-size: 0.6rem;
}
@media (min-width: 400px) {
  .fa-brands {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .fa-brands {
    font-size: 1.8rem;
  }
}
.fa-solid {
  color: white;
  padding-top: 0.5rem;
  padding-right: 0.2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
  font-size: 0.6rem;
}
@media (min-width: 400px) {
  .fa-solid {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .fa-solid {
    font-size: 1.8rem;
  }
}
.foot__1 {
  text-align: center;
  padding-top: 0.5rem;
}
.foot__2 {
  text-align: center;
  padding-top: 0.5rem;
}

.foot__3 {
  text-align: center;
  padding-top: 0.5rem;
}
/*auto-fit / min-max*/
