@use "mixin";
.paragraph_container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  text-align: justify;
  #paragraph {
    font-size: 1rem;
    padding: 1rem;
    text-align: justify;
  }
  .imgDiseños1 {
    margin: 1rem;
    padding: 1rem;
    @include mixin.desktop {
      margin: 2.5rem;
      padding: 2.5;
    }
  }

  .imagesize {
    margin: 2.5rem;
    padding: 2.5rem;
  }
}
