@use "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}
body {
  font-family: $font-family_1;
  background-color: $background-color_1;
}
.artindex {
  .articleindex {
    font-family: $font-family_3;
    text-align: justify;
  }
  .imgarticle {
    display: block;
    justify-items: $text-aling_1;
    max-width: 100%;
  }

  align-items: $text-aling_1;
  background-image: linear-gradient(to top, #dfe3e3, #a1bfbf);
  margin: 0 0 1rem 0;
}

img {
  max-width: 100%;
}
.imgproducst {
  transition: 0.5s;
  object-fit: cover;
  &:hover {
    transform: scale(1.2);
  }
}

.container {
  .products__image {
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: 0rem 1rem 1.5rem 1rem;
    max-width: 100%;
  }
  .products__line {
    display: block;
    text-align: $text-aling_1;
  }
}
.imagenindex {
  max-width: 100%;
  height: auto;
}
#imagesize {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  @include mixin.desktop {
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
  }
}
.image {
  margin: 1.5rem 1rem 1.5rem 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  max-width: 100%;
}

h1 {
  font-size: 0.8rem;
  text-align: $text-aling_1;
  @include mixin.tablet {
    font-size: 2.5rem;
  }
}
.subtittle_pages {
  margin-top: 0.8rem 0.2rem 0.8rem 0.2rem;
  padding: 0.3rem 0 0.3rem 0;
  text-align: $text-aling_1;
}
h2 {
  text-align: $text-aling_1;
  font-size: 0.8rem;
  @include mixin.tablet {
    font-size: 2.5rem;
  }
}

#tittle_pages {
  margin: 0.5rem 0 0.5rem 0;
  padding-top: 1rem;
}

#paragraph {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
}
.paragraph_container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  text-align: justify;
}
p {
  line-height: 1rem;
  font-size: 0.7rem;
  @include mixin.tablet {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.text {
  background-color: $background-color_3;
  padding-top: 5px;
  border-color: $backgroundBorderColor_4;
}
.text_product {
  h3 {
    font-family: $font-family_4;
    font-size: 1.2rem;
    color: $color_2;
    @include mixin.tablet {
      font-size: 1.8rem;
    }
  }
  .price {
    font-size: 0.9rem;
    @include mixin.tablet {
      font-size: 1.4rem;
    }
  }
  .dto {
    font-style: oblique;
    font-size: 1rem;
    color: $color_4;
    @include mixin.tablet {
      font-size: 1.4rem;
    }
  }
  text-align: $text-aling_1;
}

.fa-brands {
  color: $color_3;
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  font-size: x-small;
  @include mixin.mobile1 {
    font-size: 0.8rem;
  }
  @include mixin.tablet {
    font-size: 1.8rem;
  }
}
.fa-solid {
  color: $color_3;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: x-small;
  @include mixin.mobile1 {
    font-size: 0.8rem;
    @include mixin.tablet {
      font-size: 1.8rem;
    }
  }
}
