@use "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}
body {
  font-family: $font-family_1;
  background-color: $background-color_1;
}

.artindex {
  .articleindex {
    font-family: $font-family_3;
    text-align: justify;
    max-width: 100%;
    height: auto;
    max-height: 600px;
  }
  #imgarticle {
    display: block;
    justify-items: $text-aling_1;
    max-width: 100%;
    height: auto;
    max-height: 600px;
  }

  align-items: $text-aling_1;
  background-image: linear-gradient(to top, $background-color_1, #e0e0e0ee);
  margin: 0 0 1rem 0;
}

#imagenindex {
  max-width: 100%;
  height: auto;
  max-height: 750px;
  box-sizing: border-box;
  .carrouselimg {
    max-width: 100%;
    height: auto;
    max-height: 750px;
    box-sizing: border-box;
  }
}

.image {
  margin: 1.5rem 1rem 1.5rem 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  max-width: 100%;
  text-align: center;
}

h1 {
  font-family: $font-family_2;

  font-size: 0.8rem;
  text-align: $text-aling_1;
  @include mixin.tablet {
    font-size: 2.5rem;
  }
}
.subtittle_pages {
  margin-top: 0.8rem 0.2rem 0.8rem 0.2rem;
  padding: 0.3rem 0 0.3rem 0;
  text-align: $text-aling_1;
}
h2 {
  font-family: $font-family_2;
  text-align: $text-aling_1;
  font-size: 0.8rem;
  @include mixin.tablet {
    font-size: 2.5rem;
  }
}

#tittle_pages {
  margin: 0.5rem 0 0.5rem 0;
  padding-top: 1rem;
}

p {
  line-height: 1rem;
  font-size: 0.7rem;
  @include mixin.tablet {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.text {
  background-color: $background-color_3;
  padding-top: 5px;
  border-color: $backgroundBorderColor_4;
}

.fa-brands {
  color: $color_3;
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  font-size: x-small;
  @include mixin.mobile1 {
    font-size: 0.8rem;
  }
  @include mixin.tablet {
    font-size: 1.8rem;
  }
}
.fa-solid {
  color: $color_3;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: x-small;
  @include mixin.mobile1 {
    font-size: 0.8rem;
    @include mixin.tablet {
      font-size: 1.8rem;
    }
  }
}

.tarjeta2 {
  margin: 2rem;
  .imgtarjeta {
    max-width: 100%;
    height: auto;
    max-height: 700px;
  }
}
