.grid1 {
  width: 100%;
  height: auto;

  overflow: hidden;

  .gridindex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .gridimg {
    width: 100%;
    height: auto;
    max-height: 550px;
    overflow: hidden;
  }

  .gridimg:hover {
    background-color: rgb(128, 125, 125);
    opacity: 0.6;
  }
}
