$color_1: #161615;
$color_2: #34312e;
$color_3: white;
$color_4: #f48940;
$color_5: rgb(255, 250, 250);
$font-family_1: "Open+Sans", sans-serif;
$font-family_2: "DM Serif Display", serif;
$font-family_3: "Overpass", sans-serif;
$font-family_4: "Lato", sans-serif;

$background-color_1: #fffff4;
$background-color_2: #d4d2d1;
$background-color_3: #d0d0c6;
$backgroundBorderColor_4: black;
$backgroundBorderColor_5: rgb(92, 88, 88);
$backgroundBorderColor_6: #e7e4e0;
$border-color_2: #e7e4e0;
$border-style_1: solid;
$text-aling_1: center;
$border-radius_1: 1.8rem;
$border-width_1: 0.3rem;
